<ul class="share">
	<li><a href="mailto:?subject={{ page.title }}&amp;body=Check out this site {{ site.url }}{{site.baseurl}}{{ page.url }}"><img src="{{ site.baseurl }}/assets/images/email.svg"></a></li>
	<li><a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{site.baseurl}}{{ page.url }}" onclick="window.open(this.href, 'mywin',
		'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"><img src="{{ site.baseurl }}/assets/images/facebook.svg"></a></li>
	<li><a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{site.baseurl}}{{ page.url }}" onclick="window.open(this.href, 'mywin',
		'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"><img src="{{ site.baseurl }}/assets/images/twitter.svg"></a></li>
	<li><a href="https://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{site.baseurl}}{{ page.url }}&title={{ page.title }}&summary={{ page.desc }}&source=webjeda" onclick="window.open(this.href, 'mywin', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;""><img src="{{ site.baseurl }}/assets/images/linkedin.svg"></a></li>
	<li><a href="http://www.reddit.com/submit?url={{ site.url }}{{site.baseurl}}{{ page.url }}" onclick="window.open(this.href, 'mywin',
		'left=20,top=20,width=900,height=500,toolbar=1,resizable=0'); return false;"><img src="{{ site.baseurl }}/assets/images/reddit.svg"></a></li>
</ul>