<ul class="social">
    <li><a href="mailto:{{ site.email }}"><img src="{{ site.baseurl }}/assets/images/email.svg" alt="Email Us"></a></li>
    <li><a href="{{ site.facebook }}"><img src="{{ site.baseurl }}/assets/images/facebook.svg" alt="{{ site.title }} on Facebook"></a></li>
    <li><a href="{{ site.twitter }}"><img src="{{ site.baseurl }}/assets/images/twitter.svg" alt="{{ site.title }} on Twitter"></a></li>
    <li><a href="{{ site.linkedin }}"><img src="{{ site.baseurl }}/assets/images/linkedin.svg" alt="{{ site.title }} on Linked In"></a></li>
    <li><a href="{{ site.youtube }}"><img src="{{ site.baseurl }}/assets/images/youtube.svg" alt="{{ site.title }} on YouTube"></a></li>
    <li><a href="{{ site.github }}"><img src="{{ site.baseurl }}/assets/images/github.svg" alt="{{ site.title }} on Github"></a></li>
    <li><a href="{{ site.instagram }}"><img src="{{ site.baseurl }}/assets/images/instagram.svg" alt="{{ site.title }} on Instagram"></a></li>
    <li><a href="{{ site.pinterest }}"><img src="{{ site.baseurl }}/assets/images/pinterest.svg" alt="{{ site.title }} on Pinterest"></a></li>
	<li><a href="{{ site.reddit }}"><img src="{{ site.baseurl }}/assets/images/reddit.svg" alt="{{ site.title }} on Reddit"></a></li>
</ul>