<!DOCTYPE html>
<html lang="en">
    {% include head.html %}

    <body class="{% if page.style %}{{ page.style }} {% endif %}">
        <!--[if IE]>
            {% include browser-bar.html %}
        <![endif]-->
    
        <div class="main-container">
            {% include nav.html %}

            {{ content }}

            {% include newsletter.html %}

            {% include form.html %}

            {% include social.html %}

            {% include footer.html %}
        </div>
    </body>
</html>