---
layout: default
---

<main class="main-content">
    <div class="container">
        {% if page.date %}
            {{ page.date | date_to_string }}
        {% endif %}

        {% if page.tags.size > 0 %}
            <ul>
                <li>Tags:</li>
                
                {% for tag in page.tags %}
                <li>
                    {{ tag }}
                    {% if forloop.last == true %}{% else %}
                    <span>,</span>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
        {% endif %}

        {{ content }}

        {% if site.share %}
            {% include share.html %}
        {% endif %}

        {% if site.disqus %}
            {% include disqus.html %}
        {% endif %}

        <div class="Previous-next">
            {% if page.previous.url %}
              <a class="previous" href="{{page.previous.url}}">&laquo; {{page.previous.title}}</a>
            {% endif %}
            {% if page.next.url %}
              <a class="next" href="{{page.next.url}}">{{page.next.title}} &raquo;</a>
            {% endif %}
          </div>

        {% if page.related_posts.size > 0 %}
            <h2>Related Posts</h2>

            {% for item in page.related_posts %}
            
                {% assign posts = site.posts | where:"path", item %}
                
                {% for post in posts %}

                    {% if post.banner_image and post.banner_image != "" %}
                        <img src="{{ post.banner_image | absolute_url }}" alt="{{ post.title }}">
                    {% else %}
                        <img src="{{ "/img/placeholder.png" | absolute_url }}" alt="{{ post.title }}">
                    {% endif %}

                    <h3><a href="{{ post.url | absolute_url }}">{{ post.title }}</a></h3>
                    <p>{{ post.sub_heading | slice: 0, 80 }}</p>

                {% endfor %}
            {% endfor %}
        {% endif %}
    </div>
</main>