//-----------------------------------------------------------
// VARIABLES
//-----------------------------------------------------------

// Base
$base-size: 16;
$base-font-size: size(16);
$small-font-size: size(14);
$smaller-font-size: size(12);

// Colors
$dark-color: #04171F;
$light-color: #FFFFFF;
$accent-red-color: #D02746;

// Fonts
$primary-font-light: 'Loew-Light', Helvetica, Arial, sans-serif;
$primary-font-regular: 'Loew-Regular', Helvetica, Arial, sans-serif;
$primary-font-bold: 'Loew-Bold', Helvetica, Arial, sans-serif;
$primary-font-bold: 'Loew-ExtraBold', Helvetica, Arial, sans-serif;

// Layout
$max-width: size(1170);
$margin-auto: 0 auto;

// Breakpoints
$breakpoint-1: size(640);
$breakpoint-2: size(768);
$breakpoint-3: size(1024);
$breakpoint-4: size(1280);

// Spacing
$spacing-8: size(8);
$spacing-16: size(16);
$spacing-24: size(24);
$spacing-32: size(32);
$spacing-40: size(40);
$spacing-48: size(48);
$spacing-56: size(56);
$spacing-64: size(64);
$spacing-72: size(72);
$spacing-80: size(80);
$spacing-88: size(88);
$spacing-96: size(96);
